@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&family=Sen:wght@400;700;800&display=swap');

html {
    box-sizing: border-box;
    font-size: 16px;
}

* {padding: 0; margin: 0;}
*,*::before,*::after {box-sizing: border-box;}

html, body {width: 100%;}

body {background-color: #013243;}

main {
    width: 1200px;
    height: 800px;
    padding: 2rem 7rem;
    margin: 0 auto;
    overflow: hidden;
}

a {text-decoration: none;}

.default-color {color: #32F5C8;}

.fig-title {margin-bottom: 3rem;}

.doc-title {
    font-family: Sen;
    font-size: 7.5rem;
    font-weight: bold;
    line-height: 8rem;
}
.doc-title.first-piece {
    position: relative;
    z-index: 10;
}
.doc-title.second-piece {
    position: relative;
    left: 32rem;
    bottom: 8rem;
    z-index: 12;
}

.doc-text {
    color: #A9BDC6;
    font-family: Inter;
    font-weight: 500;
    font-size: 1.3rem;
    position: relative;
    bottom: 6rem;
    width: 30rem;
}
.doc-text {
    line-height: 2rem;
}

.launch-button {
    color: #013243;
    background-color: #32f5CB;
    font-family: Inter;
    font-size: 1.3rem;
    padding: 1.2rem 1rem;
    border-radius: 5px;
    font-weight: bold;
    float: left;
    position: relative;
    bottom: 4rem;
}

.twitter-link {
    color: #A9BDC6;
    font-family: Inter;
    font-size: 1.2rem;
    font-weight: 500;
    float: left;
    clear: both;
    position: relative;
    display: flex;
    align-items: center;
    right: 1rem;
}
.twitter-link img {
    margin-right: 1rem;
}

.fig-avatar {position: relative;}

.avatar1 {
    bottom: 24.5rem;
    left: 34.5rem;
}
.avatar2 {
    bottom: 37rem;
    left: 25rem;
}
.avatar3 {
    bottom: 37.5rem;
    right: 41rem;
}
.avatar4 {
    right: 4.5rem;
    bottom: 5rem;
}
.avatar5 {
    bottom: 48.1rem;
    left: 38.4rem;
}
.avatar6 {
    bottom: 31rem;
    left: 20rem;
    z-index: 11;
}

@media screen and (max-width: 450px) {
    main {
        width: 360px;
        overflow: hidden;
        padding: 0.5rem 1rem;
    }
    .doc-title {
        font-size: 3rem;
        line-height: 3rem;
    }
    .doc-title.second-piece {
        left: 13rem;
        bottom: 3rem;
    }
    .avatar1,.avatar4,.avatar5 {display: none;}
    
    .fig-title {margin-bottom: 8rem;}

    .doc-text {
        bottom: 0;
        width: 300px;
        font-size: 1.2rem;
    }

    .launch-button {
        bottom: 0;
        margin-top: 2rem;
        z-index: 12;
    }
    .twitter-link {
        right: 0;
        top: 12rem;
    }

    .avatar6 {
        left: 50%;
        bottom: 25%;
    }

    .avatar2 {
        width: 132px;
        bottom: 62%;
        left: 60%;
    }
    
    .avatar3 {
        right: 25%;
        bottom: 64%;
        width: 98px;
    }
}

@media screen and (min-width: 600px) and (max-width: 850px) {
    main {
        width: 95%;
        height: 100%;
        padding: 2rem 1rem;
    }
    .doc-title {
        font-size: 5.5rem;
        line-height: 7.5rem;
    }
    .doc-title.second-piece {
        left: 23rem; 
        bottom: 7.5rem;
    }
    .fig-title {
        margin-bottom: 40%;
    }
    .doc-text {
        margin-top: 3rem;
    }
    .twitter-link {
        top: 10rem;
    }

    .avatar1 {
        left: 15rem;
        bottom: 31rem;
    }
    .avatar2 {
        left: 10rem;
        bottom: 50rem;
    }
    .avatar3 {
        right: 75%;
        bottom: 48rem;
    }
    .avatar4 {
        left: 50%;
        bottom: 15%;
    }
    .avatar5 {
        left: 9rem;
        bottom: 52.5rem;
    }
    .avatar6 {
        left: 2.5rem;
        bottom: 35rem;
    }

}
